footer {
    width: 100%;
    height: auto;
    @include flex-column;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    color: $white;

    p {
        margin: 0;
    }

    .footer-top {
        width: 100%;
        @include flex-column;
        align-items: center;
        justify-content: center;

        .footer-top-info1 {
            width: 100%;
            @include flex-column;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-bottom: 2px solid $white;

            .title {
                width: 100%;
                padding: 10px 0;

                p {
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 2.5px;
                    font-family: $jakarta;
                }
            }

            .info {
                position: relative;
                width: 100%;
                @include flex-column;
                align-items: center;
                justify-content: center;

                height: 0;
                overflow-y: hidden;
                overflow-x: hidden;
                transition: all ease 0.3s;

                a {
                    font-family: $jakarta;
                    font-weight: 200;
                    letter-spacing: 2px;
                    line-height: 20px;
                    font-size: 12px;
                    padding: 5px;
                }

                a:hover {
                    color: $white;
                }

            }
        }

        .footer-top-info1.active {
            .info {
                height: 120px;
            }
        }

        .footer-top-header {

            display: none;

            p {
                color: $red;
                font-family: $mirra;
                font-size: 80px;
            }
        }
    }

    .footer-middle {
        width: 100%;
        @include flex-column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $white;
        padding: 10px 0;

        .socials {
            width: 100%;
            @include flex-row;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: $jakarta;
                font-size: 12px;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }

        .newsletter {
            width: 100%;
            @include flex-row;
            align-items: center;


            // justify-content: space-between;
            input {
                width: 75%;
                height: 50px;
                padding: 5px;
                font-family: $jakarta;
            }

            button {
                border: none;
                color: $white;
                letter-spacing: .5px;
                height: 50px;
                padding: 10px;
                background-color: $red;
                font-size: 12px;
                font-weight: 500;
                font-family: $jakarta;

            }
        }
    }

    .footer-bottom {
        width: 100%;
        @include flex-column;
        align-items: center;
        justify-content: center;
        font-family: $jakarta;
        padding: 10px 0;

        .copyright {
            p {
                font-size: 10px;
                letter-spacing: .5px;
            }
        }

        .footer-logo {
            img {
                width: 60px;
            }
        }

        .conditions {
            width: 90%;
            @include flex-row;
            justify-content: space-between;

            a {
                font-size: 10px;
                letter-spacing: .5px;
            }
        }
    }
}

// mobile 
@media only screen and (min-width: 425px) {}

// tablet 
@media only screen and (min-width: 768px) {
    footer {

        .footer-top {
            width: 100%;
            @include flex-row;
            justify-content: space-between;

            .footer-top-info1 {
                width: 100%;
                border-bottom: none;

                .title {
                    width: 100%;

                    text-align: left;

                    p {
                        font-size: 12px;
                    }
                }

                .info {
                    position: relative;
                    width: 100%;
                    @include flex-column;
                    align-items: center;
                    justify-content: center;

                    height: 120px;
                    overflow: none;
                    transition: all ease 0.3s;
                    cursor: default;

                    a {
                        width: 100%;
                        display: inline-block;
                        font-family: $jakarta;
                        line-height: 15px;
                        font-size: 10px;
                        text-align: left;
                    }

                }
            }

            .right {
                .title {
                    text-align: right;
                }

                .info {
                    a {
                        text-align: right;
                    }
                }
            }

            ;

            .footer-top-header {
                width: 70%;
                display: block;

                p {
                    color: $red;
                    font-family: $mirra;
                    font-size: 120px;
                }
            }
        }

        .footer-middle {
            width: 100%;
            @include flex-row;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $white;
            padding: 10px 0;

            .socials {
                width: 100%;
                @include flex-row;
                align-items: center;
                justify-content: space-between;

                p {
                    font-family: $jakarta;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                }
            }

            .newsletter {
                width: 100%;
                @include flex-row;
                align-items: center;


                // justify-content: space-between;
                input {
                    width: 75%;
                    height: 40px;
                    padding: 5px;
                    font-family: $jakarta;
                }

                button {
                    height: 40px;
                    width: 25%;
                    background-color: $red;
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }

        .footer-bottom {
            width: 100%;
            @include flex-row;
            align-items: flex-end;
            justify-content: center;
            font-family: $jakarta;
            padding: 10px 0;

            .copyright {
                width: 30%;

                p {
                    font-size: px;
                    letter-spacing: .5px;
                }
            }

            .footer-logo {
                @include flex-column;
                align-items: center;
                justify-content: center;
                width: 30%;

                img {
                    width: 60px;
                }
            }

            .conditions {
                width: 30%;
                @include flex-row;
                justify-content: space-between;

                a {
                    font-size: 8px;
                    letter-spacing: .5px;
                }
            }
        }
    }
}

// laptop 
@media only screen and (min-width: 1024px) {
    footer {

        .footer-top {
            width: 100%;
            @include flex-row;
            justify-content: space-between;

            .footer-top-info1 {
                width: 100%;
                border-bottom: none;

                .title {
                    width: 100%;

                    text-align: left;

                    p {
                        font-size: 12px;
                    }
                }

                .info {
                    position: relative;
                    width: 100%;
                    @include flex-column;
                    align-items: center;
                    justify-content: center;

                    height: 120px;
                    overflow: none;
                    transition: all ease 0.3s;
                    cursor: default;

                    a {
                        width: 100%;
                        display: inline-block;
                        font-family: $jakarta;
                        line-height: 15px;
                        font-size: 10px;
                        text-align: left;
                    }

                }
            }

            .right {
                .title {
                    text-align: right;
                }

                .info {
                    a {
                        text-align: right;
                    }
                }
            }

            .footer-top-header {
                width: 70%;
                display: block;

                p {
                    color: $red;
                    font-family: $mirra;
                    font-size: 180px;
                    line-height: 180px;
                }
            }
        }

        .footer-middle {
            width: 100%;
            @include flex-row;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $white;
            padding: 10px 0;

            .socials {
                width: 100%;
                @include flex-row;
                align-items: center;
                justify-content: space-between;

                p {
                    font-family: $jakarta;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                }
            }

            .newsletter {
                width: 100%;
                @include flex-row;
                align-items: center;


                // justify-content: space-between;
                input {
                    width: 75%;
                    height: 40px;
                    padding: 5px;
                    font-family: $jakarta;
                }

                button {
                    height: 40px;
                    width: 25%;
                    background-color: $red;
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }

        .footer-bottom {
            width: 100%;
            @include flex-row;
            align-items: flex-end;
            justify-content: center;
            font-family: $jakarta;
            padding: 10px 0;

            .copyright {
                width: 30%;

                p {
                    font-size: px;
                    letter-spacing: .5px;
                }
            }

            .footer-logo {
                @include flex-column;
                align-items: center;
                justify-content: center;
                width: 30%;

                img {
                    width: 60px;
                }
            }

            .conditions {
                width: 30%;
                @include flex-row;
                justify-content: space-between;

                a {
                    font-size: 8px;
                    letter-spacing: .5px;
                }
            }
        }
    }
}

// desktop 
@media only screen and (min-width: 1440px) {
    footer {

        .footer-top {
            width: 100%;
            @include flex-row;
            justify-content: space-between;

            .footer-top-info1 {
                width: 100%;
                border-bottom: none;

                .title {
                    width: 100%;

                    text-align: left;

                    p {
                        font-size: 20px;
                    }
                }

                .info {
                    position: relative;
                    width: 100%;
                    @include flex-column;
                    align-items: center;
                    justify-content: center;

                    height: 120px;
                    overflow: none;
                    transition: all ease 0.3s;
                    cursor: default;

                    a {
                        width: 100%;
                        display: inline-block;
                        font-family: $jakarta;
                        line-height: 20px;
                        font-size: 16px;
                        text-align: left;
                    }

                }
            }

            .right {
                .title {
                    text-align: right;
                }

                .info {
                    a {
                        text-align: right;
                    }
                }
            }

            .footer-top-header {
                width: 70%;
                display: block;

                p {
                    color: $red;
                    font-family: $mirra;
                    font-size: 200px;
                    line-height: 220px;
                }
            }
        }

        .footer-middle {
            width: 100%;
            @include flex-row;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $white;
            padding: 10px 0;

            .socials {
                width: 100%;
                @include flex-row;
                align-items: center;
                justify-content: space-between;

                p {
                    font-family: $jakarta;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                }
            }

            .newsletter {
                width: 100%;
                @include flex-row;
                align-items: center;


                // justify-content: space-between;
                input {
                    width: 75%;
                    height: 40px;
                    padding: 5px;
                    font-family: $jakarta;
                }

                button {
                    height: 40px;
                    width: 25%;
                    background-color: $red;
                    font-size: 10px;
                    font-weight: 500;
                }
            }
        }

        .footer-bottom {
            width: 100%;
            @include flex-row;
            align-items: flex-end;
            justify-content: center;
            font-family: $jakarta;
            padding: 10px 0;

            .copyright {
                width: 30%;

                p {
                    font-size: 14px;
                    letter-spacing: .5px;
                }
            }

            .footer-logo {
                @include flex-column;
                align-items: center;
                justify-content: center;
                width: 30%;

                img {
                    width: 80px;
                }
            }

            .conditions {
                width: 30%;
                @include flex-row;
                justify-content: space-between;

                a {
                    font-size: 14px;
                    letter-spacing: .5px;
                }
            }
        }
    }
}