@media only screen and (min-width: 414px) {}

body {
    background: $tan;

}

a {
    all: unset;
}

nav {
    background: $white;
    // border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav-wrapper {
    padding: 18px 25px;
    background: $white;
}

.nav-grid {
    max-height: 40px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 160px;
    grid-template-areas: "nav-options nav-logo nav-tools";
    transition: .4s;
}

.nav-options {
    font-family: $jakarta;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        all: unset;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    li {
        color: $blue;
        font-family: $jakarta;
        display: inline;
        font-size: 1em;
    }
}

.nav-logo a {
    visibility: visible;
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        display: flex;
        font-size: 2em;
        color: $blue;
        align-items: center;
    }
}

.search-button {
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

#search-type {
    display: none;
    font-size: 1em;
    margin-right: .5em;
    font-family: $jakarta;
    color: $green;
}

#search-icon {
    display: flex;
    color: $green;
    font-size: 1.5em;
}

.account-button {
    display: flex;
    align-items: center;
    z-index: 99;

    #dp {
        width: 1.25em;
        height: 1.25em;
        border-radius: 100%;
        background-size: cover;
    }
}

#nav-img-acc {}

#nav-btn-acc {}

#account-symbol {
    display: block;
}

#account-button {

    all: unset;
    display: none;
    background: $blue;
    padding: 10px 39px 10px 39px;
    color: $white;
}

#account-details {
    z-index: -1;
    opacity: 0;
    max-height: 74px;
    top: 0;
    height: 180px;
    overflow: hidden;
    display: flex;
    position: absolute;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    right: 0;
    background-color: #FDFBFC;
    width: 205px;
    flex-direction: column;
    padding-bottom: 17px;
    justify-content: flex-end;
    // transition: .4s;
}

.account-functions {
    border-bottom: solid 1px grey;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin-bottom: 0;
        font-family: $jakarta;
    }
}

.account-expand {
    max-height: 180px !important;
    opacity: 1 !important;
    // transition: .4s;
}

#username {
    display: none;
    color: $blue;
    font-family: $jakarta;
    font-size: 1em;
    margin-right: 1em;
}


.search-row {
    grid-column: 1 / 4;
    text-align: center;
    padding: 33px;
    left: 0;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 167px;
}

.search-message {
    margin-bottom: 16px;

    h2 {
        font-family: $jakarta;
        font-size: 1.3em;
        color: $blue;
    }
}

.search-bar {
    display: flex;
    color: #224229;
    margin-bottom: 16px;
    max-width: 100%;
    position: relative;
    width: 800px;

    i {
        display: flex;
        gap: 20%;
        align-items: center;
        justify-content: flex-end;
        font-size: 1em;
        color: $blue;
    }
}

.search-bar::before {
    background-color: rgba(34, 66, 41, .16);
    right: 0;
    bottom: 0;
    content: " ";
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
}

.search-bar::after {
    bottom: 0;
    content: " ";
    height: 2px;
    left: 0;
    pointer-events: none;
    position: absolute;
    background-color: $green;
    right: 100%;
    width: 0;
    transition: width .4s ease-in-out;
}

.search-bar:hover::after {
    width: 100%;
    transition: width .4s ease-in-out;

}


#search-bar-input {
    background: 0 0;
    border: none;
    color: $green;
    flex: auto;
    font-family: $sen;
    font-size: 30px;
    font-weight: 400;
    margin-right: 8px;
    min-height: 50px;
    outline: none;
    padding: 0;
    width: 100%;
}

.nav-expand {
    max-height: 300px;
    transition: .4s;
}

.nav-padding {
    padding-top: 76px;
}

@media only screen and (min-width: 768px) {

    .nav-grid {
        grid-template-columns: 1fr 2fr 1fr;
    }

    // .nav-options{
    //     li{
    //         font-size: 1.5em;
    //     }
    // }

    // .nav-tools{
    //     span{
    //         font-size: 2em;
    //     }
    // }

    // .search-bar{
    //     i{
    //     font-size: 1.5em;
    // }
    // }

    #search-type {
        display: block;
    }

}


@media only screen and (min-width: 1024px) {

    .nav-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-logo {
        visibility: visible;
        display: flex;
        justify-content: center;
    }

    .search-bar {
        i {
            font-size: 1.5em;
        }
    }

    .account-button {

        #dp {}

        #username {
            display: block;
        }
    }

    #search-icon {
        margin-right: 0.5em;
    }

    #account-symbol {
        display: none;
    }

    #account-button {
        display: block;
    }
}



@media only screen and (min-width: 1440px) {}